{{- $page := .page -}}
{{- if not (index $page.Params "hide-toc") -}}
  {{- $tocID := printf "post-toc-%s" .variant -}}
  {{- $toc := replace $page.TableOfContents "id=\"TableOfContents\"" (printf "id=\"%s\"" $tocID) -}}
  {{- if eq .variant "desktop" }}
<aside class="post-toc post-toc--desktop" aria-label="Table of contents">
  <div class="post-toc__heading">
    <span>Contents</span>
    <span class="post-toc__reading-time">
      <i class="fa-solid fa-clock" aria-hidden="true"></i>
      {{ i18n "reading_time" $page.ReadingTime }}
    </span>
  </div>
  {{ $toc | safeHTML }}
</aside>
  {{- else }}
<details class="post-toc post-toc--mobile">
  <summary>
    <span>Contents</span>
    <span class="post-toc__reading-time">
      <i class="fa-solid fa-clock" aria-hidden="true"></i>
      {{ i18n "reading_time" $page.ReadingTime }}
    </span>
  </summary>
  {{ $toc | safeHTML }}
</details>
  {{- end -}}
{{- end -}}
