{{ if or (and (not (isset .Params "toc"))
              (gt .Page.ReadingTime .Site.Params.toc_reading_time_threshold))
         .Params.toc }}
<div class="notices tip">
    <p>
        I often like exploring a topic in great depth and writing about my
        thoughts and experiences as I go along.
    </p>

    <p>
        This is more of an extended essay than an article to be read in a
        single sitting. Feel free to read it one piece at a time, or just
        skip to the bits that look interesting.
    </p>

    <p>Here, have a <em>Table of Contents</em>:</p>

    {{ .Page.TableOfContents }}
</div>
{{ end }}
