{{- $kind := .Get 0 | default "note" -}}
{{- $icons := dict
    "example" "fa-flask"
    "info" "fa-circle-info"
    "note" "fa-note-sticky"
    "tip" "fa-lightbulb"
    "warning" "fa-triangle-exclamation"
-}}
<aside class="notice notice--{{ $kind }}"{{ if len .Params | eq 2 }} id="{{ .Get 1 }}"{{ end }}>
  <p class="notice__label">
    <i class="fa-solid {{ index $icons $kind | default "fa-circle-info" }}" aria-hidden="true"></i>
    <span>{{ $kind | title }}</span>
  </p>
  <div class="notice__body">
    {{ .Inner }}
  </div>
</aside>
